*{margin:0;
  padding:0;
  box-sizing: border-box;
}


body{background:#ebecf0;
     height:100vh;
    }

.section{display:grid;
         grid-template-columns:1fr;
         grid-template-rows:100px 100px 100px 100px;
         grid-gap: 10px;
         box-shadow: 7px 7px 10px rgba(55,84,170, .15),
                    -7px -7px 20px #fff,
                   1px 1px 4px rgba(255,255,255,.2);
        margin:30px;
}

.eventsone{display:grid;
           grid-template-columns:0.3fr 2fr;
           grid-gap:10px;
           margin:40px;
           
           
           
           
}

h3{display:grid;
   align-self:center;
   justify-self:center;
   background:#74B6E4;
   border-radius:8px;
}

